.gallery-wrapper {
  background-color: #111;
  min-height: 100vh;
  padding-top: 6rem;
}

.gallery-image {
  overflow: hidden;
  position: relative;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.gallery-image img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
  border-radius: 8px;
}

.gallery-image:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(255, 193, 7, 0.4);
}

.gallery-image:hover img {
  transform: scale(1.1);
}

.modal-content {
  border: 0.5px solid #fff;
}