.training-glow {
  background: linear-gradient(145deg, #0d0d0d, #1a1a1a);
  background-image: url('./images/born.jpg'); /* o la ruta que uses */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
}

.training-glow::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85); /* oscurece el fondo */
  z-index: -1;
}

@media (max-width: 768px) {
  .training-glow {
    background-image: none !important;
    background: linear-gradient(
      180deg,
      #1f0c42 0%,
      #302b2b 50%,
      #0080ff 100%
    ) !important;
    background-attachment: scroll !important;
  }

  .training-glow::before {
    background-color: rgba(0, 0, 0, 0.85);
  }
}
